In [1]:
url='https://raw.githubusercontent.com/plotly/datasets/refs/heads/master/supermarket_Sales.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(url, index_col=0)

In [4]:
df

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
Invoice ID,,,,,,,,,,,,,,,,
750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [61]:
df[['Branch','City']].value_counts()

Branch  City
A       Yangon       340
B       Mandalay     332
C       Naypyitaw    328
dtype: int64

In [37]:
df.head()

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
Invoice ID,,,,,,,,,,,,,,,,
750-67-8428,A,Yangon,Member,F,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
226-31-3081,C,Naypyitaw,Normal,F,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
631-41-3108,A,Yangon,Normal,M,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
123-19-1176,A,Yangon,Member,M,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
373-73-7910,A,Yangon,Normal,M,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [7]:
df.isna().sum()

Branch                            0
City                              0
Customer type                     0
Gender                            0
Product line                      0
Unit price                        0
Quantity                          0
Tax 5%                            0
Total                             0
Date                              0
Time                              0
Payment                           0
Cost of goods sold                0
Gross margin percentage           0
Gross income                      0
Customer stratification rating    0
dtype: int64

In [21]:
df.dtypes

Branch                                    object
City                                      object
Customer type                             object
Gender                                    object
Product line                              object
Unit price                               float64
Quantity                                   int64
Tax 5%                                   float64
Total                                    float64
Date                              datetime64[ns]
Time                                      object
Payment                                   object
Cost of goods sold                       float64
Gross margin percentage                  float64
Gross income                             float64
Customer stratification rating           float64
dtype: object

In [9]:
print(df['Date'].dtype)

object

In [10]:
df['Date']=pd.to_datetime(df['Date'])

In [12]:
df['Time']=pd.to_datetime(df['Time'] ,format='%H:%M').dt.time

In [13]:
df['Date'].dtype

dtype('<M8[ns]')

In [23]:
df[df.duplicated()]

Empty DataFrame
Columns: [Branch, City, Customer type, Gender, Product line, Unit price, Quantity, Tax 5%, Total, Date, Time, Payment, Cost of goods sold, Gross margin percentage, Gross income, Customer stratification rating]
Index: []

In [45]:
df.sort_values(by=['Date','Time'],ascending=True)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,Cost of goods sold,Gross margin percentage,Gross income,Customer stratification rating
Invoice ID,,,,,,,,,,,,,,,,
765-26-6951,A,Yangon,Normal,M,Sports and travel,72.61,6,21.783,457.443,2019-01-01,10:39:00,Credit card,435.66,4.761905,21.783,6.9
746-04-1077,B,Mandalay,Member,F,Food and beverages,84.63,10,42.315,888.615,2019-01-01,11:36:00,Credit card,846.30,4.761905,42.315,9.0
271-77-8740,C,Naypyitaw,Member,F,Sports and travel,29.22,6,8.766,184.086,2019-01-01,11:40:00,Ewallet,175.32,4.761905,8.766,5.0
133-14-7229,C,Naypyitaw,Normal,M,Health and beauty,62.87,2,6.287,132.027,2019-01-01,11:43:00,Cash,125.74,4.761905,6.287,5.0
651-88-7328,A,Yangon,Normal,F,Fashion accessories,65.74,9,29.583,621.243,2019-01-01,13:55:00,Cash,591.66,4.761905,29.583,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642-61-4706,B,Mandalay,Member,M,Food and beverages,93.40,2,9.340,196.140,2019-03-30,16:34:00,Cash,186.80,4.761905,9.340,5.5
676-39-6028,A,Yangon,Member,F,Electronic accessories,64.44,5,16.110,338.310,2019-03-30,17:04:00,Cash,322.20,4.761905,16.110,6.6
731-59-7531,B,Mandalay,Member,M,Health and beauty,72.57,8,29.028,609.588,2019-03-30,17:58:00,Cash,580.56,4.761905,29.028,4.6
131-15-8856,C,Naypyitaw,Member,F,Food and beverages,72.52,8,29.008,609.168,2019-03-30,19:26:00,Credit card,580.16,4.761905,29.008,4.0
364-34-2972,C,Naypyitaw,Member,M,Electronic accessories,96.82,3,14.523,304.983,2019-03-30,20:37:00,Cash,290.46,4.761905,14.523,6.7

In [34]:
(df.columns)

Index(['Branch', 'City', 'Customer type', 'Gender', 'Product line',
       'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment',
       'Cost of goods sold', 'Gross margin percentage', 'Gross income',
       'Customer stratification rating'],
      dtype='object')

In [44]:
df['Payment'].value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

In [36]:
df['Gender'] = df['Gender'].apply(lambda x: 'F' if x == 'Female' else 'M')

In [27]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (1.4.27)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (3.0.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\lenovo\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [53]:
from sqlalchemy import create_engine
engine_string ='postgresql://postgres:admin@localhost:5432/monjur'
engine = create_engine(engine_string)

In [55]:
df.to_sql('datas', engine, if_exists='replace', index=True)

1000